.content-body {
	background-color: #13273a;
}
.content-area {
	width: 1206px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding: 0 63px;
	box-sizing: border-box;
}
.text-content {
	font-family: Futura PT;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 28px;
	color: #FFFFFF;
}
.header_mod {
	margin-top: 41px;
}
.main-page_mod {
	margin-top: 136px;
}


		/**/
.circle {
	position: absolute;
	top: 153px;
	left: -357px;
	width: 724px;
	height: 724px;
	background-color: rgba(35, 62, 89, 0.8);
	border-radius: 50%;
	overflow: hidden;
}
.main-content-part {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
    flex-direction: column;
}
.column_mod {
	align-items: flex-start;
	z-index: 1;
}
.column_mod .widget {
	margin-bottom: 110px;
}
.column_mod .widget:last-child {
	margin-bottom: 0;
}
.column_mod2 .widget:nth-child(1) {
	margin-bottom: 115px;
}
.column_mod2 .widget:nth-child(2) {
	margin-bottom: 111px;
}
.title {
	font-family: Futura PT;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	line-height: 62px;
	letter-spacing: 0.1em;
	color: #BBA390;
	margin: 0;
}
.title-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 32px;
	color: #8CAAC8;
	margin: 0;
	opacity: 0.6;
}
.title-text_margin {
	padding-right: 86px;
	margin-top: 16px;
}
.title-block_mod {
	margin-top: 86px;
	margin-bottom: 124px;
}
.widget {
	display: inline-flex;
    flex-direction: column;
    margin: 0;
    position: relative;
}
.widget__link {
	font-family: Futura PT;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 76px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}
.widget__link:after {
	content: "\2192";
	display: inline-flex;
	width: 36px;
	margin-left: 16px;
	font-size: 30px;
	color: #2B8CFC;
}
		/**/

.for-dealers {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.for-dealers_margin {
	margin-top: 130px;
}
.for-dealers__title {
	text-align: center;
}
.for-dealers__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #5B82A9;
	opacity: 0.9;
}
.for-dealers__container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.for-dealers__container_margin {
	margin-top: 64px;
	margin-bottom: 91px;
}
.conditon-for-dealers {
	width: 251px;
	height: 182px;
	display: flex;
	flex-direction: column;
}
.condition-for-dealers__icon_mod {
	background-repeat: no-repeat;
	height: 100%;
	background-position: center top;
}
.condition-for-dealers__icon-player {
	background-image: url("./img/icons/player.svg");
}
.condition-for-dealers__icon-maneger {
	background-image: url("./img/icons/maneger.svg");
}
.condition-for-dealers__icon-content {
	background-image: url("./img/icons/content.svg");
}
.condition-for-dealers__icon-catalog {
	background-image: url("./img/icons/catalog.svg");
}
.condition-for-dealers__text {
	text-decoration: none;
	text-align: center;
}
.condition-for-dealers__text_mod {
	padding-bottom: 32px;
}
.condition-for-dealers__text_padding {
	padding: 0 20px;
}
.form-for-dealers__input {
	width: 295px;
	height: 57.05px;
	background-color: transparent;
	border: 1px solid #8CAAC8;
	opacity: 0.6;
	padding: 0;
	outline: none;
}
.form-for-dealers__input_mod {
	font-family: Roboto;
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #5C82A8;
}
.form-for-dealers__buttom {
	width: 230px;
	height: 59.05px;
	background-color: #2B8CFC;
	padding: 0;
}
.form-for-dealers__buttom_mod {
	font-family: Roboto;
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	margin-left: 32px;
}
		/**/


.background-img {
	position: absolute;
	background-image: url("./img/background/design-section.png");
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 1206px;
	min-height: 796px;
	left: 0;
	bottom: 98px;
}
.for-studio-design_margin {
	margin-top: 220px;
	margin-bottom: 224px;
}
.for-sudio-design__title {
	text-align: center;
}
.for-studio-design__block_margin {
	margin-top: 70px;
}
.for-studio-design__block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.design-card {
	position: relative;
	width: 347px;
	height: 183.54px;
	background-color: #051627;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
.design-card__text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #8CAAC8;
	opacity: 0.8;
	margin: 0;
	padding: 40px 0 0 34px;
}
.design-card__img {
	background-repeat: no-repeat;
	background-position: 60% 74%;
	width: 100%;
}
.design-card__img_medallion {
	background-image: url("./img/icons/design-cards-icons/medallion.svg");
}
.design-card__img_crown {
	background-image: url("./img/icons/design-cards-icons/crown.svg");
}
.design-card__img_catalog {
	background-image: url("./img/icons/design-cards-icons/catalog.svg");
}
.design-card__circle {
	position: absolute;
    top: 50%;
    transform: translate(100%, 0px);
    width: 225px;
    height: 225px;
    background-color: rgba(35, 62, 89, 0.3);
    border-radius: 50%;
}
.for-studio-design__link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
	opacity: 0.8;
}
.for-studio-design__link:after {
	content: "";
	border-top: 2px solid #2B8CFC;
	width: 62px;
	margin-left: 24px;
}
.for-studio-design__link:before {
	content: "";
    display: block;
    border: solid #2B8CFC;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    position: absolute;
    top: 11px;
    right: 366px;
    padding: 4px;
}
.for-studio-design__link_mod {
	margin-top: 34px;
}
.for-studio-design__link-underline {
	border-bottom: 1px solid #7E8895;
}
		/**/

.for-find-shop {
	display: flex;
	flex-direction: row;
}
.for-find-shop__item-icons-column {
	display: flex;
	flex-direction: row;
}
.shop-icon-block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 230px;
	height: 230px;
	background: #122E4A;
	box-shadow: 12px 22px 42px rgba(4, 20, 37, 0.25);
	border-radius: 0px 30px;
}
.shop-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.shop-name {
	position: relative;
	width: 150px;
	height: 40px;
}
.shop-icon__title {
	font-family: Current;
	color: #FF7A44;
	font-size: 42px;
	position: absolute;
	top: 3px;
	left: -10px;
}
.shop-icon__title-italic {
	font-family: Current;
	color: #FF7A44;
	font-size: 42px;
	font-style: italic;
	position: absolute;
	top: 3px;
	left: 33px;
}
.shop-icon__title-italic:after {
	content: "";
    display: block;
    position: absolute;
    top: -3.2px;
    left: 63px;
    height: 41px;
    border-left: 10px solid #FF7A44;
    transform: skew(166deg);
}
.block-E {
	position: absolute;
	top: 8.1px;
	left: 108px;
}
.block-E_mod {
	position: absolute;
	top: 8.1px;
	left: 134px;
}
.block-E__item {
	width: 20px;
    height: 7.5px;
    background-color: #FF7A44;
    transform: skew(167deg);
}
.block-E__item_margin1 {
	margin: 0 0 0 8px;
}
.block-E__item_margin {
	margin: 5px 0 5px 4px;
}
.shop-icon__text {
	padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6485A7;
}



@font-face	{
	font-family: Roboto;
	src: url("./fonts/Roboto-Regular.woff") format("woff");
}
@font-face	{
	font-family: Roboto-Bold;
	src: url("./fonts/Roboto-Bold.woff") format("woff");
}
@font-face	{
	font-family: Roboto-BoldItalic;
	src: url("./fonts/Roboto-BoldItalic.woff") format("woff");
}
@font-face	{
	font-family: Current;
	src: url("./fonts/Current-Regular.woff") format("woff");
}